* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    transition: all ease-in-out 250ms;

    /* border: 1px solid red; for debugging */
    
}

/* 
    universal selector style ends here  
    style for header starts here  
*/


/* Style the header :tag */
header {
    display: flex;
    width: 100%;
    height: 150px;

    background-color: #B6C9C3;
}


/* image selected :tag  */
img {
    width: 50px;
    height: 80px;
    padding: 2px;

}


/* header container selected :class */
.header-container {
    display: flex;
    justify-content: space-around;

    align-items: center;


    width: 100%;
}


/* Select the list item :tag */
.menu-container ul {
    list-style-type: none;

}


/* Select the individual list item :tag */
.menu-container li {
    display: inline-block;
    margin: 8px;

    font-size: 17px;
}

.menu-container li a {
    text-decoration: none;
    color: inherit;
}


.menu-container {
    border: 1px solid red;

    position: relative;
    top: 15px;
    padding: 2px;
}


/* select the button :tag  */
.contact-container button {
    padding: 5px;
    background: #000000;
    color: #EEE;

    border-radius: 10px;
    height: 50px;
    width: 100px;
}



/* style for header ends here  */
/* style for main begins here  */

/* select main :tag  */
main {
    display: flex;

    background-color: #B6D2B0;

    height: 75vh;
    flex-direction: column;

}

/* select main-container :class */
.main-container {
    display: flex;
    width: 100%;

    align-items: center;
    flex-direction: column;


}


/* select preamble inside main :class */
.preamble {
    display: flex;
    justify-content: center;


    width: 90%;
    height: 30vh;

    margin-bottom: 10px;
    /* border: 2px solid red; */
    /* border: 2px solid red; for debugging */
}


/* select .first-preamble-container inside (main/preamble) :class */
.first-preamble-container {
    align-self: center;
    /* display: flex; */
    flex-grow: 1;
    flex-basis: auto;
    /* border: 1px solid red; */


}

/* select .second-preamble-container inside (main/preamble) :class  */
.second-preamble-container {
    align-self: flex-end;
    flex-grow: 1;
    flex-basis: auto;
    position: relative;
    bottom: 20px;

    font-size: small;

    /* border: 1px solid red; */
}

@media (min-width:700px) {
    .first-preamble-container {
        text-align: center;
        font-size: 30px;
    }


}


/* 
    style for main ends here  
    style for footer begins here  
*/


/* select the footer  :tag */
footer {
    background-color: #b3d6ab;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
    style for footer ends here
    animation starts here  
*/




/* Animation for the page starts here */

header:hover {
    background-color: #90a39d;

    transform: translateY(-5px);
    box-shadow: 1px 8px 8px #060707;

    font-size: large;
    /* font-weight: 700; */
}

header:hover button:hover {
    padding: 12px;
    font-weight: 800;

    box-shadow: 3px 3px 5px black;
    color: black;
    background: #EEE;
}

header:hover .menu-container:hover{
    font-size: 22px;
}


.menu-container li a:hover{
    padding: 3px;
    box-shadow: 1px 2px 2px #000000;
    
    font-size: 20px;
}

.logo-container:hover,
.logo-container:hover img{
    transform: translateX(5px);
    width: 70px;
    height: 100px;
}

main:hover {
    background-color: #869782;
    padding: 2px;

}

main:hover .first-preamble-container:hover {
    font-size: 1.5em;
}

.first {
    /* border: 2px solid red; */
    position: relative;

    top: 15px
}

main:hover .first:hover,
main:hover .second:hover {
    transform: translateY(-12px);

}

main:hover .first:hover .second-preamble-container:hover,
main:hover .second:hover .second-preamble-container:hover {
    transform: translateY(-12px);
    font-size: large;
}

footer:hover {
    background-color: #88a382;
    font-size: 20px;
}

footer:hover strong {
    color: red
}